
html {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.1px;
  line-height: 1.8;
  color: #051922;
  overflow-x: hidden;
}

body img {
  max-width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a:hover {
  color: #179C0D;
  text-decoration: none;
}

h1, .h1,
h2, .h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin: 0 0 1.25rem 0;
  color: #051922;
}

h1:last-child, .h1:last-child,
h2:last-child, .h2:last-child {
  margin: 0;
}

h1, .h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4rem;
  margin-bottom: 1rem!important;
}

h2, .h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.25rem;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.1px;
  line-height: 1.8;
  color: #051922;
  margin: 0 0 4rem 0;
}

p:last-child {
  margin: 0;
}


a.boxed-btn {
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  background-color: #179C0D;
  color: #fff;
  padding: 12px 35px!important;
  font-size: 1.3rem;
}

a.boxed-btn {
  border-radius: 50px;
}


.top-header-area {
  position: absolute;
  z-index: 999;
  width: 100%;
  padding: 25px 0;
}

nav.main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav.main-menu ul li {
  display: inline-block;
}

nav.main-menu ul li a {
  color: #fff;
  font-weight: 700;
  display: block;
  padding: 20px;
}

nav.main-menu ul > li {
  position: relative;
}

nav.main-menu ul > li:hover ul {
  opacity: 1;
  visibility: visible;
}

nav.main-menu ul li:last-child a {
  display: inline-block;
}

nav.main-menu > ul li:last-child {
  float: right;
}

.big-text {
  color: #179C0D;
}

h3 {
  font-size: 40px;
  position: relative;
  padding-bottom: 15px;
}

.site-logo {
  float: left;
  max-width: 85px;
}

.main-menu-wrap {
  position: relative;
}

.site-logo {
  padding: 0px;
}

.breadcrumb-section {
  padding: 150px 0;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 1;
  background-attachment: fixed;
  padding-top: 200px;
}

.breadcrumb-bg {
  background-image: url(C:\Harvestify\static\images\farm_background_1.jpg);
}

.breadcrumb-text p {
  color: #179C0D;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin-bottom: 1.5rem;
}

.breadcrumb-text h1 {
  font-size: 50px;
  font-weight: 900;
  color: #fff;
  margin: 0;
  margin-top: 10px;
}


.breadcrumb-section:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #07212e;
  z-index: -1;
  opacity: 0.8;
}


nav.main-menu ul li.current-list-item > a {
  color: #179C0D;
}

nav.main-menu li:hover > a {
  color: #179C0D;
}

nav.main-menu li a {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.top-header-area .header-icons a {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.top-header-area .header-icons a:hover {
  color: #179C0D;
}

.top-header-area {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}


.footer-area {
  background-color: #051922;
  color: #fff;
  padding: 100px 0;
}

h2.widget-title {
  font-size: 24px;
  font-weight: 500;
  position: relative;
  padding-bottom: 20px;
  color: #fff;
}

h2.widget-title:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20px;
  height: 2px;
  background-color: #179C0D;
  content: "";
}

.footer-box p {
  color: #fff;
  opacity: 0.7;
  line-height: 1.8;
}

.footer-box ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-box ul li {
  opacity: 0.7;
  margin-bottom: 10px;
  line-height: 1.8;
}

.footer-box ul li:last-child {
  margin-bottom: 0;
}



.footer-box ul li a {
  color: #fff;
}

.footer-box.pages ul li {
  position: relative;
  padding-left: 20px;
}

.footer-box.pages ul li:before {
  position: absolute;
  left: 0;
  top: 0;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #179C0D;
}

.contact-form p {
  padding: 5px!important;
  margin: 10px!important;
}

a.boxed-btn {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a.boxed-btn:hover {
  background-color: #051922;
  color: #179C0D;
}

.footer-box.pages ul li a {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.footer-box.pages ul li:hover a {
  color: #179C0D;
}

input[type="submit"] {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  border-radius: 50px !important;
}

input[type="submit"]:hover {
  background-color: #051922;
  color: #179C0D;
}

.crop-bg {
  background-image: url(static\images\farm_background_1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}

.shop-bg {
  background-image: url(static\images\farm_background_1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero-bg {
  background-image: url(static\images\farm_background_1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.hero-text {
  display: table;
  height: 100%;
}

.hero-text-tablecell {
  display: table-cell;
}

.hero-area {
  height: 100%;
  position: relative;
  z-index: 1;
}

html, body {
  height: 100%;
}

.contact-form {
  margin-top: 50px;
}

.error-text i {
  font-size: 90px;
  margin-bottom: 30px;
}

.error-text h1 {
  padding-top: 5rem;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 10px;
}

.error-text p {
  padding-top: 2rem;
  font-size: 15px;
  margin-bottom: 30px;
}

.full-height-section {
  min-height: 55%;
  display: table;
  width: 100%;
}

.hero-area:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #07212e;
  z-index: -1;
  opacity: 0.75;
}

.hero-text p.subtitle {
  color: #179C0D;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 15px;
}

.hero-text h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 1.3;
  color: #fff;
}

.hero-area div {
  height: 100%;
}

.hero-area div.hero-text {
  height: 100%;
  width: 100%;
}

.hero-area div.hero-text-tablecell {
  height: auto;
  vertical-align: middle;
}

.hero-area div.hero-text-tablecell div {
  height: auto;
  vertical-align: middle;
}

.hero-btns {
  margin-top: 35px;
}

input[type="submit"] {
  background-color: #179C0D;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 15px;
  border: none !important;
  cursor: pointer;
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 10px 40px;
  border-radius: 3px;
}

.single-product-item {
  margin-top: 75px;
  margin-right: 30px;
}

.crop-rec {
  width: 30%;
  height: 40%;
  
  margin:auto;
  margin-top: 75px;
  margin-bottom: 75px;
  -webkit-box-shadow: 0 0 20px #e4e4e4;
  box-shadow: 0 0 20px #e4e4e4;
  transition: 0.4s;
  padding-bottom: 50px;
  border-radius: 5px;
}

.crop-rec h3 {
  font-size: 30px;
  font-weight: 500;
  padding-top: 35px;
  margin-bottom: 0px;
}

.crop-img {
  padding: 10px;
  padding-bottom: 0;
}

.crop-img img {
  width: 60%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.crop-rec a {
  font-size: 1.02rem!important;
  padding: 10px 25px!important;
}

.crop-rec i {
  font-size: 12px;
  margin-bottom: 0px;
}

.product-image {
  padding: 30px;
  padding-bottom: 0;
}

.product-image img {
  width: 80%;
  border-radius: 5px;
  margin-bottom: 15px;
}

.single-product-item h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0px;
}

p.product-price {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}


a.cart-btn {
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  background-color: #179C0D;
  color: #fff;
  padding: 10px 15px;
  font-size: 0.85rem;
  transition: 0.2s;
  border-radius: 30px;
}

a.cart-btn:hover {
  background-color: #126c0c;
}

a.cart-btn i {
  margin-right: 5px;
}

.single-product-img img {
  border-radius: 5px;
  -webkit-box-shadow: 0 0 20px #ddd;
  box-shadow: 0 0 20px #ddd;
}

.single-product-content h3 {
  font-size: 22px;
  font-weight: 600;
}

p.single-product-pricing span {
  font-size: 18px;
  display: block;
  opacity: 0.8;
  margin-bottom: 10px;
  font-weight: 400;
}

.single-product-content p {
  font-size: 15px;
  color: #555;
  line-height: 1.8;
}

.single-product-content p.single-product-pricing {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #051922;
  line-height: inherit;
}

input[type="number"] {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 100px;
  margin-bottom: 15px;
}

.single-product-form a.cart-btn {
  margin-bottom: 15px;
}

.single-product-content h4 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 35px;
}


.single-product-content {
  margin-left: 30px;
}

.single-product-item {
  -webkit-box-shadow: 0 0 20px #e4e4e4;
  box-shadow: 0 0 20px #e4e4e4;
  transition: 0.4s;
  padding-bottom: 50px;
  border-radius: 5px;
}

.single-product-item:hover {
  -webkit-box-shadow: 0 0 25px #c0c0c0;
  box-shadow: 0 0 25px #c0c0c0;
  padding-bottom: 50px;
  border-radius: 5px;
}

.abt-section {
  margin-top: 250px;
  margin-bottom: 250px;
}

.abt-bg {
  background-image: url(../img/shop-bg.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.abt-bg:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #051922;
  opacity: 0.3;
}

.abt-section .abt-text {
  padding: 50px;
  padding-left: 30px;
}

.abt-text p {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 10px;
}

.abt-text p.top-sub {
  opacity: 0.8;
  margin-bottom: 10px;
}

.abt-text p:last-child {
  margin-bottom: 0;
}


.section-title h3 {
  font-size: 40px;
  position: relative;
  padding-bottom: 15px;
}

.section-title h3:after {
  position: absolute;
  content: '';
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 50px;
  height: 2px;
  background-color: #179C0D;
  margin: 0 auto;
}

.section-title p {
  font-size: 15px;
  width: 530px;
  margin: 0 auto;
  color: #555;
  margin-top: 10px;
  line-height: 1.8;
}

.section-title {
  margin-top: 120px;
  margin-bottom: 80px;
}

.shop-banner {
  position: relative;
  background-color: #1e3044;
  background-size: cover;
  background-image: linear-gradient(rgba(7, 33, 46, 0.6),rgba(7, 33, 46, 0.5)), url(../img/crops.jpg);
  
  padding: 110px 0px 115px;
}

.shop-banner h3 {
  position: relative;
  color: white;
  font-weight: 900;
  font-size: 50px;
  line-height: 1.2em;
  margin-bottom: 7px;
}

.shop-banner h4 {
  position: relative;
  color: white;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2em;
  margin-bottom: 10px;
}


a.cart2-btn {
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  background-color: #179C0D;
  color: #fff;
  padding: 10px 35px;
  margin-top: 50px;
  font-size: 1.2rem;
  transition: 0.2s;
  border-radius: 30px;
}

a.cart2-btn:hover {
  background-color: #126c0c;
}


.form__group {
  position: relative;
  padding: 15px 0 0;
  margin: auto;
  margin-top: 10px;
  
  width: 50%;
}
.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1rem;
  color: #000;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1rem;
  cursor: text;
  top: 30px;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}
.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #179C0D, #179C0D);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #179C0D;
  font-weight: 700;
}
.form__field:required, .form__field:invalid {
  box-shadow: none;
}
